@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  background-color: #eff3f4;
  padding: 20px;
}

.content {
  width: 100%;
  display: table;
  text-align: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.content:first-child {
  margin-top: 0px;
}

.main, .leftside, .rightside {
  display: table-cell;
  padding-top: 20px;
  padding-bottom: 20px;
}

.top__main {
  background-color: #e0abd9;
}

.top__leftside {
  background-color: #fdc8b8;
  width: 100px;
}

.top__rightside {
  background-color: #b6d8ed;
  width: 100px;
}

.bottom__leftside {
  background-color: #e5d32e;
}

.bottom__rightside {
  background-color: #ec8f9a;
}

.bottom__main {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
