@charset "UTF-8";

/* 回答はここに書いてね */
.contents {
  background-color: #eff3f4;
  padding: 20px;
}

.content {
  width: 100%;
  display: table;
  text-align: center;
  box-sizing: border-box;
  margin-top: 20px;
}

.content:first-child {
  margin-top: 0px;
}

.content__cell {
  display: table-cell;
  padding: 20px 0;
}

.is-pink {
  background-color: #fdc8b8;
  width: 100px;
}

.is-purple {
  background-color: #e0abd9;
}

.is-blue {
  background-color: #b6d8ed;
  width: 100px;
}

.is-yellow {
  background-color: #e5d32e;
}

.is-red {
  background-color: #ec8f9a;
}

.is-green {
  background-color: #8fdcad;
  width: 500px;
}
/* 回答はここに書いてね */
