@charset "UTF-8";

/* 回答はここに書いてね */
.bubble__text {
  width: 500px;
  border: solid 5px #222;
  padding: 20px;
  border-radius: 30px;
  margin: 0 auto;
  font-size: 16px;
  line-height: 16px;
  position: relative;
}

.bubble__text:before, .bubble__text:after {
  position: absolute;/*position, contentをまとめる*/
  content: "";
  border: solid 20px transparent;
}

.bubble__text:before {
  /*content: "";
  position: absolute;*/
  left: 30px;
  bottom: -45px;
  border-top: solid 20px #222; 
  /*z-index: 1;*/
}

.bubble__text:after {
  /*content: "";
  position: absolute;*/
  left: 30px;
  bottom: -38px;
  border-top: solid 20px #fff;
  /*z-index: 2;*/
}


/* 回答はここに書いてね */
