@charset "UTF-8";

/* 回答はここに書いてね */

.box--horizonal {
  text-align: center;
}

.box__content--horizonal {
  background-color: #e6f2ff;
  width: 90px;
  padding: 10px 0;
  text-align: center;
}

.is-text-align {
  display: inline-block;
}

.is-margin {
  margin: 0 auto;
}

.is-table {
  display: table;
}

.is-table-cell {
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.content {
  background-color: #fff;
  padding: 10px;
  display: inline-block;
}

.is-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.is-stable {
  position: relative;
}

.content--is-stable {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
}

.is-flexible {
  position: relative;
}

.content--is-flexible {
  position: absolute;
  left: 50%;
  top:  50%;
  transform: translate(-50%, -50%);
}
/* 回答はここに書いてね */
